<nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">
  <div class="container">
    <a href="index.hbs" class="navbar-brand">
      <h3 class="d-inline align-middle">Thapa Technical</h3>
    </a>
  </div>
</nav>